# **Атрибуты по таблицам конкурентов (прайс на день), нашей компании (себестоимость и прайс на день)**

# **Таблица конкуренты. Прайс на конкретную дату.**

Струтктура атрибутов таблиц(объектов) идентичная у всех конкурентов.
Всего 9 конкурентов:

*   Азимут-НЧ: 12 объектов
*   ИПК: 29 объектов
*   ПВ ГРУПП (ХОЛД, Подшипник-Волга Групп): 54 объекта
*   САРСПЗ-7 (ПАА): 48 объектов
*   Арекон (СЛЗ ГРУПП): 31 объект
*   ТД ППЗ: 58 объектов
*   Теталон: 55 объектов
*   Уральский подшипник: 13 объектов
*   Энергоконтроль: 13 объектов

Каждая отдельная таблица(объект) представляет собой набор данных по остаткам и стоимости подшипниковой продукции на конкретную дату. Дата конкретной таблицы(объекта) отличаются у кажого  конкурента. Существенные различия могут быть в значениях атрибутов(количестве позиций в 'Основном обозначении') в каждой таблице(объекте) в связи с различной номенклатурной базой конкруентов. Общий период период данных 06/2023 - 06/2025, где по некоторым конкурентам могут быть данные только за один год.

**Атрибуты**

* 'Наименование' -  Полное название товара или продукции, которую предлагает компания -
* 'Бренд' - Марка или производитель товара -
* 'Основное обозначение' — Главная характеристика или тип товара, позволяющая однозначно идентифицировать его среди аналогичных позиций. +
* 'ГОСТ/ТУ' -  Указание стандарта или технических условий, по которым произведён товар (например, ГОСТ 123-45 или ТУ 6789-01) -
* 'Примечание' — Дополнительная информация или комментарии, относящиеся к товару (например, особенности, условия доставки). -
* 'Ед. измерения' — Обозначение единицы, в которой измеряется количество товара (штуки). -
* 'Количество'— Фактическое число или объём товара, который предлагается на конкретной таблицы(объекта). +
* 'Цена'— Стоимость одной единицы товара в рублях на конкретную дату таблицы(объекта). +
* 'Дата прайса' — Дата, когда был сформирован или актуализирован прайс-лист с ценой и количеством товара на конкретную дату. +
* 'Дата выгрузки' — Дата, когда данные были выгружены или сохранены из базы/системы. -
* 'Название компании' — Имя организации, предоставляющей данный товар или услугу. +
* 'Город' — Город, в котором расположена компания или склад с товаром. +
* 'Телефон'— Контактный номер компании для связи по вопросам товара или заказа. -

In [ ]:
import pandas as pd
import os
import re
from glob import glob

In [ ]:
df = pd.read_excel('merged_Общая_конкуренты.xlsx')

In [ ]:
df.columns

Index(['Наименование', 'Бренд', 'Основное обозначение', 'ГОСТ/ТУ',
       'Примечание', 'Ед. измерения', 'Количество', 'Цена', 'Дата прайса',
       'Дата выгрузки', 'Название компании', 'Город', 'Телефон',
       'Ед.измерения'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555453 entries, 0 to 555452
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Наименование          555453 non-null  object
 1   Бренд                 455847 non-null  object
 2   Основное обозначение  555453 non-null  object
 3   ГОСТ/ТУ               383146 non-null  object
 4   Примечание            554279 non-null  object
 5   Ед. измерения         512711 non-null  object
 6   Количество            508400 non-null  float64
 7   Цена                  538195 non-null  float64
 8   Дата прайса           555453 non-null  datetime64[ns]
 9   Дата выгрузки         555453 non-null  object
 10  Название компании     555453 non-null  object
 11  Город                 555453 non-null  object
 12  Телефон               555453 non-null  object
 13  Ед.измерения          42742 non-null   object
dtypes: datetime64[ns](1), float64(2), object(11)
memory usage: 59.3+ MB

In [ ]:
cols_to_convert = ['Количество','Цена']

In [ ]:
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df[col] = df[col].round().astype('Int64')
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df[col] = df[col].fillna(0).astype(int)
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce').astype(float)
    df[col] = df[col].round().astype('Int64')

In [ ]:
df['Дата выгрузки'] = pd.to_datetime(df['Дата выгрузки'], errors='coerce', dayfirst=True)

In [ ]:
print(df.isnull().sum())
print(df.head())
print(df['Дата прайса'].unique())

Наименование                 0
Бренд                    99606
Основное обозначение         0
ГОСТ/ТУ                 172307
Примечание                1174
Ед. измерения            42742
Количество                   0
Цена                         0
Дата прайса                  0
Дата выгрузки                0
Название компании            0
Город                        0
Телефон                      0
Ед.измерения            512711
dtype: int64
  Наименование Бренд Основное обозначение ГОСТ/ТУ  \
0    Подшипник   NaN                   35     NaN
1    Подшипник   NaN                   93     NaN
2    Подшипник   SLZ                  106     NaN
3    Подшипник   SLZ                  113     NaN
4    Подшипник   SLZ                  115     NaN

                                          Примечание Ед. измерения  \
0      В УПАК В НАЛИЧИИ, ЦЕНЫ УТОЧНЯЙТЕ ПО ТЕЛЕФОНУ.            ШТ
1  В УПАК В НАЛИЧИИ, ЦЕНЫ УТОЧНЯЙТЕ ПО ТЕЛЕФОНУ. ...            ШТ
2  В УПАК В НАЛИЧИИ,ЦЕНЫ УТОЧНЯЙТЕ ПО ТЕЛЕФОНУ (6...            ШТ
3  В УПАК В НАЛИЧИИ, ЦЕНЫ УТОЧНЯЙТЕ ПО ТЕЛЕФОНУ (...            ШТ
4  В УПАК В НАЛИЧИИ, ЦЕНЫ УТОЧНЯЙТЕ ПО ТЕЛЕФОНУ (...            ШТ

   Количество  Цена Дата прайса Дата выгрузки Название компании    Город  \
0          26  2239  2024-06-03    2024-06-17            Арекон  Барнаул
1         281    19  2024-06-03    2024-06-17            Арекон  Барнаул
2          11    73  2024-06-03    2024-06-17            Арекон  Барнаул
3           5   179  2024-06-03    2024-06-17            Арекон  Барнаул
4           3   254  2024-06-03    2024-06-17            Арекон  Барнаул

                                      Телефон Ед.измерения
0  +7(3852) 22-25-16, 60-78-43, 913-210-78-43          NaN
1  +7(3852) 22-25-16, 60-78-43, 913-210-78-43          NaN
2  +7(3852) 22-25-16, 60-78-43, 913-210-78-43          NaN
3  +7(3852) 22-25-16, 60-78-43, 913-210-78-43          NaN
4  +7(3852) 22-25-16, 60-78-43, 913-210-78-43          NaN
<DatetimeArray>
['2024-06-03 00:00:00', '2024-08-05 00:00:00', '2024-09-05 00:00:00',
 '2024-10-04 00:00:00', '2024-10-23 00:00:00', '2024-11-08 00:00:00',
 '2024-12-06 00:00:00', '2025-01-13 00:00:00', '2025-02-03 00:00:00',
 '2025-02-20 00:00:00', '2025-03-31 00:00:00', '2025-04-02 00:00:00',
 '2025-05-12 00:00:00', '2025-07-10 00:00:00', '2024-04-27 00:00:00',
 '2024-06-11 00:00:00', '2024-07-24 00:00:00', '2024-07-11 00:00:00',
 '2024-08-14 00:00:00', '2024-08-26 00:00:00', '2024-09-23 00:00:00',
 '2024-10-09 00:00:00', '2024-10-18 00:00:00', '2024-11-12 00:00:00',
 '2024-12-01 00:00:00', '2024-12-11 00:00:00', '2025-01-10 00:00:00',
 '2025-02-14 00:00:00', '2025-02-28 00:00:00', '2025-03-10 00:00:00',
 '2025-03-28 00:00:00', '2025-04-10 00:00:00', '2025-04-29 00:00:00',
 '2025-05-30 00:00:00', '2025-06-06 00:00:00', '2025-06-27 00:00:00',
 '2025-02-07 00:00:00', '2025-02-19 00:00:00', '2025-03-17 00:00:00',
 '2025-04-04 00:00:00', '2025-05-13 00:00:00', '2025-06-05 00:00:00',
 '2025-06-30 00:00:00', '2025-07-21 00:00:00', '2023-05-17 00:00:00',
 '2023-05-25 00:00:00', '2023-06-06 00:00:00', '2023-06-23 00:00:00',
 '2023-07-13 00:00:00', '2023-08-08 00:00:00', '2023-08-03 00:00:00',
 '2023-08-30 00:00:00', '2023-08-17 00:00:00', '2023-09-12 00:00:00',
 '2023-09-22 00:00:00', '2023-10-10 00:00:00', '2023-11-01 00:00:00',
 '2023-11-08 00:00:00', '2023-11-21 00:00:00', '2023-12-08 00:00:00',
 '2023-12-28 00:00:00', '2024-01-08 00:00:00', '2024-04-25 00:00:00',
 '2024-05-24 00:00:00', '2024-07-02 00:00:00', '2024-09-30 00:00:00',
 '2024-10-14 00:00:00', '2024-11-01 00:00:00', '2024-11-14 00:00:00',
 '2024-12-13 00:00:00', '2024-12-28 00:00:00', '2025-01-14 00:00:00',
 '2025-03-03 00:00:00', '2025-03-14 00:00:00', '2025-04-01 00:00:00',
 '2025-04-11 00:00:00', '2025-05-05 00:00:00', '2025-05-14 00:00:00',
 '2025-06-11 00:00:00', '2025-07-18 00:00:00', '2025-08-01 00:00:00']
Length: 81, dtype: datetime64[ns]

In [ ]:
df.describe()

,Количество,Цена,Дата прайса,Дата выгрузки
count,555453.0,555453.0,555453,555453
mean,4853.045941,6639.314927,2024-03-24 04:46:13.822447616,2024-03-29 12:18:00.052497664
min,0.0,0.0,2023-05-17 00:00:00,2023-05-17 00:00:00
25%,8.0,240.0,2023-08-30 00:00:00,2023-09-01 00:00:00
50%,65.0,737.0,2023-12-28 00:00:00,2024-01-09 00:00:00
75%,488.0,2516.0,2024-11-08 00:00:00,2024-11-15 00:00:00
max,48603496.0,5489640.0,2025-08-01 00:00:00,2025-08-04 00:00:00
std,191182.36698,50662.77585,NaN,NaN

**Удаляем лишние столбцы**

In [ ]:
df = df.drop(['Наименование', 'Бренд', 'Телефон', 'ГОСТ/ТУ', 'Примечание', 'Ед.измерения', 'Ед. измерения', 'Дата выгрузки'], axis=1)

In [ ]:
df

,Основное обозначение,Количество,Цена,Дата прайса,Название компании,Город
0,35,26,2239,2024-06-03,Арекон,Барнаул
1,93,281,19,2024-06-03,Арекон,Барнаул
2,106,11,73,2024-06-03,Арекон,Барнаул
3,113,5,179,2024-06-03,Арекон,Барнаул
4,115,3,254,2024-06-03,Арекон,Барнаул
...,...,...,...,...,...,...
555448,ШСП45,825,318,2025-08-01,ПВ ГРУПП,Саратов
555449,ШСП50,27594,217,2025-08-01,ПВ ГРУПП,Саратов
555450,ШСП55,3254,389,2025-08-01,ПВ ГРУПП,Саратов
555451,ШСП8,31639,49,2025-08-01,ПВ ГРУПП,Саратов
555452,ШСП8,20321,40,2025-08-01,ПВ ГРУПП,Саратов

In [ ]:
df.to_excel('Общая_конкуренты.xlsx', index=False)

# **Таблицы ЗПУ(Нашей компании). Прайс на конкретную дату.**

# **Прайс на конкретную дату**

**Атрибуты**

* 'Основное обозначение' — Главная характеристика или тип товара, позволяющая однозначно идентифицировать его среди аналогичных позиций. +
* 'Еврообозначение' —  европейское или международное маркировочное обозначение товара, применяемое для унификации идентификации в зарубежных стандартах. -
* 'Код' — уникальный идентификатор или артикул товара, используемый для автоматизации процессов учёта и поиска. -
* 'Вес штука' —  масса одной единицы товара, выраженная обычно в килограммах.+
* 'Количество'— Фактическое число или объём товара, который предлагается на конкретной таблицы(объекта).+
* 'Цена'— Стоимость одной единицы товара в рублях на конкретную дату таблицы(объекта).+y
* 'Дата прайса' — Дата, когда был сформирован или актуализирован прайс-лист с ценой и количеством товара на конкретную дату. +
* 'Название компании' — Имя организации, предоставляющей данный товар или услугу. -

In [ ]:
df = pd.read_excel('merged_Общая_Наша компания(ЗПУ).xlsx')

In [ ]:
df.columns

Index(['Основное обозначение', 'Еврообозначение', 'Код', 'Вес штука',
       'Количество', 'Цена', 'Дата прайса', 'Название компании'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48920 entries, 0 to 48919
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Основное обозначение  48919 non-null  object
 1   Еврообозначение       39606 non-null  object
 2   Код                   45929 non-null  object
 3   Вес штука             41504 non-null  float64
 4   Количество            48920 non-null  int64
 5   Цена                  48920 non-null  float64
 6   Дата прайса           48920 non-null  datetime64[ns]
 7   Название компании     48920 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 3.0+ MB

In [ ]:
cols_to_convert = ['Вес штука','Цена' ]

In [ ]:
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df[col] = df[col].round().astype('Int64')
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df[col] = df[col].fillna(0).astype(int)
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce').astype(float)
    df[col] = df[col].round().astype('Int64')

In [ ]:
print(df.isnull().sum())
print(df.head())
print(df['Дата прайса'].unique())

Основное обозначение       1
Еврообозначение         9314
Код                     2991
Вес штука                  0
Количество                 0
Цена                       0
Дата прайса                0
Название компании          0
dtype: int64
        Основное обозначение Еврообозначение          Код  Вес штука  \
0   втулка AH2334 FBC (ГОСТ)          AH2334  00-00015469          5
1          втулка AH2336 MPZ          AH2336  00-00001313          6
2              втулка AH2338          AH2338  00-00005380          7
3  втулка AH24124 FBC (ГОСТ)         AH24124  00-00009061          1
4  втулка AH24130 FBC (ГОСТ)         AH24130  00-00009067          5

   Количество  Цена Дата прайса Название компании
0          14  5700  2025-04-03               ЗПУ
1           6  3700  2025-04-03               ЗПУ
2           2  3200  2025-04-03               ЗПУ
3           3  4700  2025-04-03               ЗПУ
4           2  5900  2025-04-03               ЗПУ
<DatetimeArray>
['2025-04-03 00:00:00', '2025-02-04 00:00:00', '2024-06-04 00:00:00',
 '2024-08-07 00:00:00', '2024-09-09 00:00:00', '2024-12-09 00:00:00',
 '2024-11-12 00:00:00', '2025-05-13 00:00:00']
Length: 8, dtype: datetime64[ns]

In [ ]:
df.describe()

       Вес штука     Количество          Цена                    Дата прайса
count    48920.0   48920.000000       48920.0                          48920
mean    8.826083    1553.886284   7357.198528  2024-12-10 08:31:48.029435904
min          0.0       1.000000           0.0            2024-06-04 00:00:00
25%          0.0       6.000000         204.0            2024-09-09 00:00:00
50%          1.0      39.000000         812.0            2024-12-09 00:00:00
75%          4.0     261.000000        3200.0            2025-04-03 00:00:00
max       2480.0  999970.000000     1870000.0            2025-05-13 00:00:00
std    46.690905   10859.111048  36441.061112                            NaN

**Удаляем лишние столбцы**

In [ ]:
df.drop(['Еврообозначение', 'Код','Название компании'], axis=1, inplace=True)

In [ ]:
df

            Основное обозначение  Вес штука  Количество  Цена Дата прайса
0       втулка AH2334 FBC (ГОСТ)          5          14  5700  2025-04-03
1              втулка AH2336 MPZ          6           6  3700  2025-04-03
2                  втулка AH2338          7           2  3200  2025-04-03
3      втулка AH24124 FBC (ГОСТ)          1           3  4700  2025-04-03
4      втулка AH24130 FBC (ГОСТ)          5           2  5900  2025-04-03
...                          ...        ...         ...   ...         ...
48915                  YEL206-2F          0          90   370  2025-05-13
48916                  YEL207-2F          1          90   498  2025-05-13
48917                  YEL208-2F          1          90   670  2025-05-13
48918                  YEL209-2F          1          90   730  2025-05-13
48919                  YEL210-2F          1          88   840  2025-05-13

[48920 rows x 5 columns]

In [ ]:
df.to_excel('Общая_ЗПУ.xlsx', index=False)

# **Merge Таблиц**

In [ ]:
df1 = pd.read_excel('Общая_ЗПУ.xlsx')
df2 = pd.read_excel('Общая_конкуренты.xlsx')

In [ ]:
df1.columns

Index(['Основное обозначение', 'Вес штука', 'Количество', 'Цена',
       'Дата прайса'],
      dtype='object')

In [ ]:
df2.columns

Index(['Основное обозначение', 'Количество', 'Цена', 'Дата прайса',
       'Название компании', 'Город'],
      dtype='object')

In [ ]:
df1['Месяц'] = pd.to_datetime(df1['Дата прайса']).dt.to_period('M')
df2['Месяц'] = pd.to_datetime(df2['Дата прайса']).dt.to_period('M')

In [ ]:
merged_df = pd.merge(
    df1,
    df2,
    on=['Основное обозначение', 'Месяц'],
    how='inner',
    suffixes=('_pricezpu', '_pricek')
).drop_duplicates()

In [ ]:
merged_df

,Основное обозначение,Вес штука,Количество_pricezpu,Цена_pricezpu,Дата прайса_pricezpu,Месяц,Количество_pricek,Цена_pricek,Дата прайса_pricek,Название компании,Город
0,29,0,15,10,2025-04-03,2025-04,46,22,2025-04-01,ПВ ГРУПП,Саратов
1,29,0,15,10,2025-04-03,2025-04,49,23,2025-04-11,ПВ ГРУПП,Саратов
2,292213,1,1,410,2025-04-03,2025-04,0,382,2025-04-02,Арекон,Барнаул
3,292213,1,1,410,2025-04-03,2025-04,265,435,2025-04-04,Азимут-НЧ,Набережные Челны
4,292213,1,1,410,2025-04-03,2025-04,2,251,2025-04-01,ПВ ГРУПП,Саратов
...,...,...,...,...,...,...,...,...,...,...,...
18143,51315,3,118,980,2025-05-13,2025-05,0,3884,2025-05-12,Арекон,Барнаул
18144,51316,3,164,990,2025-05-13,2025-05,0,3943,2025-05-12,Арекон,Барнаул
18145,51320,6,11,1800,2025-05-13,2025-05,2,4580,2025-05-12,Арекон,Барнаул
18146,51322,8,1,2700,2025-05-13,2025-05,1,7334,2025-05-12,Арекон,Барнаул
18147,51408,1,165,720,2025-05-13,2025-05,0,1052,2025-05-12,Арекон,Барнаул

In [ ]:
merged_df.to_excel('Общая.xlsx', index=False)

# **Себестоимость**

**Атрибуты**

* 'Основное обозначение' — Главная характеристика или тип товара, позволяющая однозначно идентифицировать его среди аналогичных позиций. +
* 'Модификация' — версия или вариант изделия, отличающийся техническими характеристиками или исполнением. +
* 'Еврообозначение' —  европейское или международное маркировочное обозначение товара, применяемое для унификации идентификации в зарубежных стандартах. -
* 'Размер' — габаритные параметры или диаметр, длина, ширина товара. +
* 'Количество роликов' — число роликов, входящих в состав изделия или комплекта. +
* 'Зазор мкм' — величина зазора между компонентами, указанная в микрометрах.+
* 'BRAND' — торговая марка или производитель товара.+
* 'Вес штука' — масса одного отдельного изделия. +
* 'Вес контракт' — общий вес продукции по контракту. +
* 'Количество в контракте' — число изделий, входящих в текущий контракт на поставку. +
* 'Цена по ФОБ в долларах' — стоимость одной единицы продукции по условиям FOB (Free On Board) в долларах США. +
* 'Себестоимость' — цена производства или закупки единицы товара. +
* 'Цена' — установленная стоимость для продажи изделия. +
* '№ контракта' — индивидуальный номер документа, по которому выполняется поставка или продажа. -
* 'Запуск контракта' — дата/информация(об оплате контракта) о начале выполнения контракта. -
* 'Поступление на склад' — дата поступления товара на склад или его приемка кладовщиком/обновление прайса в 1С. +

In [ ]:
df = pd.read_excel('processed_Себестоимость по Изменению цен.xlsx')

In [ ]:
df.columns

Index(['Основное обозначение', 'Модификация', 'Еврообозначение', 'Размер',
       'Количество роликов', 'Зазор мкм', 'BRAND', 'Вес штука', 'Вес контракт',
       'Количество в контракте', 'Цена по ФОБ в долларах', 'Себестоимость',
       'Цена', '№ контракта', 'Запуск контракта', 'Поступление на склад'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4557 entries, 0 to 4556
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Основное обозначение    4557 non-null   object
 1   Модификация             3598 non-null   object
 2   Еврообозначение         3967 non-null   object
 3   Размер                  4122 non-null   object
 4   Количество роликов      3295 non-null   object
 5   Зазор мкм               2546 non-null   object
 6   BRAND                   4536 non-null   object
 7   Вес штука               4536 non-null   object
 8   Вес контракт            4557 non-null   float64
 9   Количество в контракте  4557 non-null   int64
 10  Цена по ФОБ в долларах  4557 non-null   float64
 11  Себестоимость           4557 non-null   float64
 12  Цена                    4557 non-null   float64
 13  № контракта             4557 non-null   object
 14  Запуск контракта        4494 non-null   datetime64[ns]
 15  Поступление на склад    4496 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(1), object(9)
memory usage: 569.8+ KB

In [ ]:
df['Запуск контракта'] = pd.to_datetime(df['Запуск контракта'], errors='coerce', dayfirst=True)
df['Поступление на склад'] = pd.to_datetime(df['Поступление на склад'], errors='coerce', dayfirst=True)

In [ ]:
cols_to_convert = ['Количество роликов','Вес штука', 'Вес контракт', 'Себестоимость', 'Цена' ]

In [ ]:
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df[col] = df[col].round().astype('Int64')
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df[col] = df[col].fillna(0).astype(int)
for col in cols_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce').astype(float)
    df[col] = df[col].round().astype('Int64')

In [ ]:
print(df.isnull().sum())
print(df.head())
print(df['Запуск контракта'].unique(),
      df['Поступление на склад'].unique())

Основное обозначение         0
Модификация                959
Еврообозначение            590
Размер                     435
Количество роликов           0
Зазор мкм                 2011
BRAND                       21
Вес штука                    0
Вес контракт                 0
Количество в контракте       0
Цена по ФОБ в долларах       0
Себестоимость                0
Цена                         0
№ контракта                  0
Запуск контракта            63
Поступление на склад        61
dtype: int64
  Основное обозначение Модификация Еврообозначение    Размер  \
0                  100           А            6000   10х26х8
1                  101           А            6001   12х28х8
2                  104           А            6004  20х42х12
3                  104           Ю             NaN  20х42х12
4                  104           Ю             NaN  20х42х12

   Количество роликов Зазор мкм      BRAND  Вес штука  Вес контракт  \
0                   7      2-13  FBC-GROUP          0           400
1                   8      3-18  FBC-GROUP          0           440
2                   9      5-20  FBC-GROUP          0          1400
3                   9      5-20      TimCo          0             3
4                   9      5-20      TimCo          0            73

   Количество в контракте  Цена по ФОБ в долларах  Себестоимость  Цена  \
0                   20000                0.128428             10    14
1                   20000                0.132782             11    14
2                   20000                0.264148             21    28
3                      40                1.323095            106   141
4                     960                1.267331            102   136

           № контракта Запуск контракта Поступление на склад
0  138XYZ-23/6FM-MY-24       2023-10-11           2024-04-17
1  138XYZ-23/6FM-MY-24       2023-10-11           2024-04-17
2  99XYZ-23/53FM-MY-23       2023-08-23           2024-02-15
3              8XYZ-24       2023-12-22           2024-04-10
4   8XYZ-24/12FM-MY-24       2023-12-22           2024-08-26
<DatetimeArray>
['2023-10-11 00:00:00', '2023-08-23 00:00:00', '2023-12-22 00:00:00',
 '2022-08-17 00:00:00', '2024-01-31 00:00:00', '2024-06-28 00:00:00',
 '2022-12-17 00:00:00', '2021-07-16 00:00:00', '2020-04-24 00:00:00',
 '2024-08-15 00:00:00',
 ...
 '2024-03-22 00:00:00', '2022-05-11 00:00:00', '2022-05-17 00:00:00',
 '2020-10-20 00:00:00', '2018-04-16 00:00:00', '2020-01-21 00:00:00',
 '2023-04-21 00:00:00', '2021-11-11 00:00:00', '2025-03-18 00:00:00',
 '2021-04-09 00:00:00']
Length: 418, dtype: datetime64[ns] <DatetimeArray>
['2024-04-17 00:00:00', '2024-02-15 00:00:00', '2024-04-10 00:00:00',
 '2024-08-26 00:00:00', '2022-12-30 00:00:00', '2023-02-08 00:00:00',
 '2024-10-01 00:00:00', '2025-03-13 00:00:00', '2023-05-30 00:00:00',
 '2021-11-23 00:00:00',
 ...
 '2019-09-20 00:00:00', '2022-06-20 00:00:00', '2020-12-29 00:00:00',
 '2019-12-10 00:00:00', '2022-08-11 00:00:00', '2025-10-11 00:00:00',
 '2026-10-11 00:00:00', '2022-12-13 00:00:00', '2018-09-14 00:00:00',
 '2020-09-30 00:00:00']
Length: 332, dtype: datetime64[ns]

In [ ]:
df.describe()

,Количество роликов,Вес штука,Вес контракт,Количество в контракте,Цена по ФОБ в долларах,Себестоимость,Цена,Запуск контракта,Поступление на склад
count,4557.0,4557.0,4557.0,4557.000000,4557.000000,4557.0,4557.0,4494,4496
mean,14.031819,13.129471,7044.22822,4559.989906,70.900083,5700.374369,7581.489138,2023-10-06 07:48:47.102803712,2024-04-24 00:05:26.690391552
min,0.0,0.0,0.0,2.000000,0.000869,0.0,0.0,2018-04-16 00:00:00,2018-09-14 00:00:00
25%,0.0,0.0,290.0,100.000000,1.846856,148.0,197.0,2023-04-05 00:00:00,2023-09-29 00:00:00
50%,11.0,2.0,680.0,500.000000,6.230962,501.0,666.0,2024-01-22 00:00:00,2024-09-27 00:00:00
75%,20.0,6.0,1494.0,1020.000000,23.060565,1854.0,2466.0,2024-08-09 00:00:00,2025-04-11 00:00:00
max,128.0,3960.0,16400000.0,1000000.000000,52466.358685,4218295.0,5610333.0,2025-05-30 00:00:00,2026-10-11 00:00:00
std,14.974462,89.111133,283499.601164,24055.699103,888.434997,71430.171472,95002.138083,NaN,NaN

In [ ]:
df.to_excel('Себестоимость.xlsx', index=False)